<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :opening_hours %><br />
    <%= f.text_field :opening_hours %>
  </div>
  <div class="field">
    <%= f.label :locality %><br />
    <%= f.text_field :locality %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
