<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Opening hours:</b>
  <%= @venue.opening_hours %>
</p>

<p>
  <b>Locality:</b>
  <%= @venue.locality %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
