<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span4">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="span4">
      <%= f.label :sport %>
      <%= select(:game, :sport_id, Sport.all.collect {|f| [f.name, f.id]}) %>
    </div>
    <div class="span4">
      <%= f.label :host_name %>
      <%= f.text_field :host_name, disabled: true, value: name(current_user.id) %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4" id="date_select">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>
    <div class="span4" id="time_select">
      <%= f.label :start_time %>
      <%= f.time_select :start_time, time_separator: ""%>
    </div>
    <div class="span4" id="time_select">
      <%= f.label :end_time %>
      <%= f.time_select :end_time, time_separator: "" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <%= f.label :venue_id %>
      <%= select(:game, :venue_id, Venue.all.collect {|f| [f.name, f.id]}) %>
    </div>
    <div class="span2">
      <%= f.label :maxpax %>
      <%= f.number_field :maxpax %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
        <%= f.label :details %>
        <%= f.text_area :details, cols: "50", rows: "60" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
