<div class="row-fluid">
  <div class="span6"><h2>
  <%= @game.title %>
</h2>

<p>
  <b>Sport:</b>
  <%= @game.sport.name %>
</p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>

<p>
  <b>Start time:</b>
  <%= @game.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @game.end_time %>
</p>

<p>
  <b>Venue:</b>
  <%= @game.venue.name %>
</p>

<p>
  <b>Details:</b>
  <%= @game.details %>
</p>

<p>
  <b>Maxpax:</b>
  <%= @game.maxpax %>
</p>

<p>
  <b>Host:</b>
  <%= name(User.find(@game.host_id).id) %>
</p>
</div>
  <div class="span6">
    <h2>Current Members</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Members (<%= @game.users.count.to_s + "/" + @game.maxpax.to_s %>)</th>
        </tr>
      </thead>
      <tbody>
        <% @game.users.each do|t| %>
          <tr><td><%= name(t) %></td></tr>
        <% end %>
      </tbody>
    </table>

    <% if GamesUsers.where(game_id: params[:id]).where(user_id: current_user.id).present? %>
    <%= link_to "Leave", leave_path, class: "btn btn-primary"%> 
    <% else %>
    <%= link_to "Join", join_path, class: "btn btn-primary"%> 
    <% end %>

    <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-warning"%> 
    <%= link_to 'Back', games_path, class: "btn"%>

  </div>
</div>