<!DOCTYPE html>
<html>
<head>
  <title>Leposse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'partials/navbar' %>
	<div class="container content" id="<%=controller_name%>">
		<%=yield%>	
	</div>
</body>
</html>
